venv/
.env
debug.log
__pycache__/
*.py[cod]
*$py.class
debug.log"celerybeat-schedule.*" 
Risalabot\automations\migrations
Risalabot\automations\__pycache__
Risalabot\base\migrations
Risalabot\base\__pycache__
