<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>RisalaBot | رسالة بوت</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'styles/main.css' %}" />
        <link rel="stylesheet" href="{% static 'styles/sidemenu.css' %}">
        <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        

    </head>
    <body>
        
        {% include 'navbar.html'%}
        <div class="divider">
            
            {% include 'sidemenu.html'%}

            
            <div class="content">
                {% if messages %}
                    <div id="message-container">
                        {% for message in messages %}
                            {% if message.tags == 'error' %}
                                <div class="message error">{{ message }}</div>
                            {% else %}
                                <div class="message success">{{ message }}</div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}

                {% block content %}
                {% endblock %}
            </div>
        </div>

    </body>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://kit.fontawesome.com/985ffc9040.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.min.js"></script>   


</html>
