<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>RisalaBot | رسالة بوت</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" >
        <link rel="stylesheet" href="{% static 'styles/main.css'%}?v=3" />
        <link rel="stylesheet" href="{% static 'styles/sidemenu.css'%}?v=3" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <link href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css" rel="stylesheet">
        <link href="https://cdn.datatables.net/responsive/3.0.3/css/responsive.dataTables.css" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

        

    </head>
    <body>



        {% if token_invalid %}
        <div class="overlay-content">
            <div class="overlay-container">
                <h2>{{ token_message }}</h2>
                <div class="buttons">
                    <button class="reauth-button" onclick="window.location.href='{% url 'authstore' %}'">أعد الاتصال</button>
                    <button class="reauth-button" onclick="window.location.href='{% url 'logout' %}'">تسجيل الخروج</button>
                </div>
            </div>
        </div>
        {% endif %}

        <div id="content-wrapper" class="{% if token_invalid %}blurred{% endif %}">
            {% include 'navbar.html'%}
            <div class="divider">
                {% include 'sidemenu.html'%}
                <div class="content">
                    <div class='message-display' id='message-display'>
                        <div id="message-display-content">
                            <div class="message-icon" id="message-icon"></div>
                            <p id="message-content"></p>
                        </div>
                    </div>
                    {% if messages %}
                        <script>
                            document.addEventListener('DOMContentLoaded', function() {
                                {% for message in messages %}
                                    showMessage("{{ message }}", "{{ message.tags }}");
                                {% endfor %}
                            });
                        </script>
                    {% endif %}
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>

    </body>
    <script src="https://kit.fontawesome.com/985ffc9040.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/main.js' %}"></script>



</html>
