{% load static %}
<div class="container-nav">
    <header class="header">
      <div class="logo-container">
        <a href="{% url 'home' %}">
            <img src="{% static 'svgs/Risalabot.svg' %}" alt="RisalaBot Logo" class="logo-image">
        </a>
    </div>
    

      
      <div class= "right-container">
      
      <a href={% url 'home' %} class="support">
        الدعم الفني
      </a>
      <a href={% url 'home' %} class="logo-cont">
        <i class='bx bxs-bell' style='color:#ffffff'></i>
      </a>
      
      </div>
    </header>
  </div>