{% load static %}
<div class="sidenav" id="sidenavbar">
    <nav class="nav__container">
        <div>

            <div class="nav__list">
                <div class="nav__items">

                    
                    {% comment %} <div class="nav__dropdown">
                        <a href="#" class="nav__link">
                            <i class='bx bx-user nav__icon'></i>
                            <span class="nav__name">Profile</span>
                            <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
                        </a>

                        <div class="nav__dropdown-collapse">
                            <div class="nav__dropdown-content">
                                <a href="#" class="nav__dropdown-item">Passwords</a>
                                <a href="#" class="nav__dropdown-item">Mail</a>
                                <a href="#" class="nav__dropdown-item">Accounts</a>
                            </div>
                        </div>
                   </div> {% endcomment %}

                    <a href="{% url 'dashboard' %}" class="nav__link {% if request.path == '/dashboard/' %}active{% endif %}">
                        <i class='bx bxs-dashboard nav__icon'></i>
                        <span class="nav__name">الداشبورد</span>
                    </a>
                    <a href="{% url 'events' %}" class="nav__link {% if request.path == '/events/' %}active{% endif %}">
                        <i class='bx bxs-message-alt-check nav__icon'></i>
                        <span class="nav__name">الرسائل التلقائية</span>
                    </a>
                    <a href="{% url 'campaigns' %}" class="nav__link {% if request.path == '/campaigns/' %}active{% endif %}">
                        <i class='bx bxs-megaphone nav__icon'></i>
                        <span class="nav__name">الحملات الترويجية</span>
                    </a>
                    <a href="{% url 'customers' %}" class="nav__link {% if request.path == '/customers/' %}active{% endif %}">
                        <i class='bx bxs-user-detail nav__icon'></i>
                        <span class="nav__name">العملاء</span>
                    </a>

                    <a href="{% url 'whatsapp_session' %}" class="nav__link {% if request.path == '/link-channel/' %}active{% endif %}">
                        <i class='bx bxl-whatsapp-square nav__icon'></i>
                        <span class="nav__name">ربط الواتساب</span>
                    </a>

                   
                </div>
            </div>
        </div>

        <a href="{% url 'logout' %}" class="nav__link nav__logout">
            <i class='bx bx-log-out nav__icon'></i>
            <span class="nav__name">Log Out</span>
        </a>
    </nav>
</div>
