/*========== GOOGLE FONTS ==========*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');


/*========== VARIABLES CSS ==========*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  --first-color: #a7d7c5;
  --first-color-light: #F4F0FA;
  --title-color: #19181B;
  --text-color: #58555E;
  --text-color-light: #A5A1AA;
  --body-color: #F9F6FD;
  --container-color: #FFFFFF;

  /*========== Font and typography ==========*/
  --body-font: "Vazirmatn", sans-serif;
  --normal-font-size: .938rem;
  --small-font-size: .75rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-fixed: 0;
}

@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
    --small-font-size: .775rem;
    --smaller-font-size: .813rem;
  }
}

/*========== BASE ==========*/
*, ::before, ::after {
  box-sizing: border-box;
}


html, body {
    direction: rtl;
    height: 100%;
    margin: 0;
    font-family: var(--body-font);
    background-color: #f5f6f8;
}

/*========== Header ==========*/

.container-nav{
  height: var(--header-height);
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background-color: #19181B;
  height: var(--header-height);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo-container{
  width: 35px;
  height: 25px;
}
.logo{
  color : #fff;
  font-weight: 800;
}
.right-container{
  display: flex;
  align-items: center;
  gap : 1.5rem;
}

.support{
  font-weight: 800;
  color: #fff;
  
}
.fa-bell{
  font-size: 20px !important;
  color: #fff;
}

/* Divider container */
.divider {
    display: flex;
    height: calc(100vh - var(--header-height)); /* Adjust based on your header height */
}

/* Main content */
.content {
    flex: 1; /* Take the remaining space */
    overflow-y: auto;
    background-color: #fbfbfb;
    position: relative; /* Add this */
    display: flex; /* Add this */
    flex-direction: column; /* Add this */
}

h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
.message.error {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    margin: 1rem;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
}

.message.success {
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    margin: 1rem;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
}

.hidden {
    display: none;
}

.popup {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(
        0,
        0,
        0,
        0.4
    );
    display: none;
}
.popup-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    width: 50%;
    font-weight: bolder;
    border-radius: 5px;
}

.popup-content textarea {
  resize: none;
  padding: 0.5rem;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 0.875rem !important;
  font: inherit;
}
.popup-content button {
    display: block;
    margin: 0 auto;
    
}
.show {
    display: block;
}

.popup-content input{
  padding: 0.5rem;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 0.875rem !important;
  font: inherit;
}

/*Customer List*/



.fa-user {
  font-size: 30px; /* Change this value to resize the icon */
  color: #000; /* Change this value to change the icon color */
  padding-top: 10px;
}

.fa-user-group {
  font-size: 30px; /* Change this value to resize the icon */
  color: #000; /* Change this value to change the icon color */
  padding-top: 10px;
}

.fa-user-plus {
  font-size: 30px; /* Change this value to resize the icon */
  color: #21aa78; /* Change this value to change the icon color */
  padding-top: 10px;
}
.table-container{
  margin: 2rem;
  border-radius: 4px;
  box-shadow: rgba(55, 63, 71, 10%) 0px 0px 0px 1px, rgba(55, 63, 71, 16%) 0px 1px 4px;
  background-color: var(--color-background-default-base);
  box-sizing: border-box;
  background-color: #fff;
}


.table-header {
  display: flex;
  margin-bottom: 1rem;
  padding: 0.75rem;
  flex-direction: row;
}
table{
  border-spacing: 1;
  border-collapse: collapse;
  background: #fff;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
table thead tr {
  height: 60px;
  border-bottom: 1px solid #dfdfdf;

}
table tbody tr {
  height: 50px;
  border-bottom: 1px solid #dfdfdf;
}

table tbody tr td{
padding: 0.5rem 0.75rem;
direction: ltr;
text-align: right;
font-size: 0.875rem;

}
table thead tr th{
text-align: right;
padding: 0.5rem 0.75rem;
font-size: 0.875rem;

}
.customers-card-container {
padding: 0.5rem;
width: 200px;
height: auto;
border-radius: 8px;
box-shadow: rgba(55, 63, 71, 5%) 0px 0px 0px 1px, rgba(55, 63, 71, 16%) 0px 1px 4px;
background-color: #fff;
}

.group-card-container{
  padding: 0.5rem;
  width: 200px;
  height: auto;
  border-radius: 8px;
  box-shadow: rgba(55, 63, 71, 5%) 0px 0px 0px 1px, rgba(55, 63, 71, 16%) 0px 1px 4px;
  background-color: #fff;
  cursor: pointer;
}


.customers-count-title, .customers-list-title, .customers-new-group{
  font-weight: 500 !important;
  color: #333;
  text-align: center !important;

}


.customers-group-title{
font-size: 0.9rem !important;
font-weight: 300;
color: #4d4d4d;
}
.all-customers{
display: flex;
justify-content: center;
align-items: center;
padding: .5rem;
}
.customers-count{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: .5rem;
line-height: 1.25rem;
}
.customers-count-number .customers-list-number{
font-size: 1.2rem;
font-weight: 500;
color: #333;
}
.cards-container{
display: flex;
margin: 2rem;
flex-wrap: wrap; /* This allows cards to wrap to the next line */
gap: 15px; /* Adjust the gap between cards as needed */
max-width: 100%;
}

.space{
  height: 20px;
  direction: ltr;
}

.fa-xmark{
  color: #be1d1d;
}

.pagination-controls{
display: flex;
flex-direction: row;
align-items: center;
padding:0.75rem;
}

.view-per-page{
  flex: 1 1 auto;
}

/* Remove default button styling */
button.square-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  width: 30px;  /* Adjust the size as needed */
  height: 30px; /* Adjust the size as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;  /* Optional: for rounded corners */
  transition: background-color 0.3s;
}

/* Add hover effect if desired */
button.square-button:hover {
  background-color: rgba(0, 0, 0, 0.1);  /* Light grey background on hover */
}

/* Style the icons */
button.square-button i {
  font-size: 20px; /* Adjust the size as needed */
  color: #000;    /* Adjust the color as needed */
}

.page-buttons{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;

}

button.square-button:disabled {
  cursor: not-allowed;
  background-color: rgba(0, 0, 0, 0.05);  /* Light grey background */
  color: rgba(0, 0, 0, 0.3);  /* Grey color for icon */
}

button.square-button:disabled i {
  color: rgba(0, 0, 0, 0.3);  /* Grey color for icon */
}

select{
  direction: ltr;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 0.875rem;
}



.table-search input{
  padding: 0.5rem;
  width: 40%;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 0.775rem !important;
  font: inherit;

}
/*========== Popup ==========*/

.popup-group2 {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.popup-group2.show {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content2 {
  display: flex;
  flex-direction: column;
  justify-self: center;
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 4px;
  width: 50%;
  max-width: 600px; /* Adjust maximum width as needed */
  text-align: center; /* Center content horizontally */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add box shadow for depth */
}

.popup-content2 form {
  display: flex;
  flex-direction: column;
  gap : 1rem;
  margin-bottom: 10px; /* Add margin below the form */

}

.popup-content2 input{ 
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 0.875rem !important;
  font: inherit;

}

.condition {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
.condition select {
  font-family: inherit;
  padding: 0.5rem;
  border-radius: 4px;
}

.value-container {
  display: flex;
  align-items: center; /* Align items vertically */
  justify-content: center;
}

.value-field {
  width: 100px;
  margin-left: 10px; /* Add spacing between input and select */
}

.remove-button {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  margin: 0;
  background-color: #d9534f;
  color: #fff;
}

.remove-condition {
  margin-left: 10px;
}

#close-popup-button {
  margin-top: 10px; /* Add margin above the close button */
}

.rule-button{
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  margin: 0;
  background-color: #21aa78;
  color: #fff;
}



.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Popup content */
.delete-popup-content {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  max-width: 300px;
  width: 80%;
}

.delete-popup-content h2 {
  margin-top: 0;
}

.delete-popup-content button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#confirm-delete-button {
  background-color: #d9534f;
  color: white;
  font: inherit;
}

#cancel-delete-button {
  background-color: #333;
  color: white;
  font: inherit;
}


.content-container{
  height: 100%;
  display: flex;
}


/*========== Whatsapp ==========*/

.session-container{
  height: 100%;
  min-width: 340px  ;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  width: fit-content;
  
}

.nameElement{
  font-size: 1.5rem;
  font-family: inherit;
  font-weight: 500;
  color: #333;
  margin-bottom: 1rem;
}

.aboutElement{
  color: #c4bc99;
}

.qr-code-container{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: 100%;
}
.details-container{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: 100%;
}
.image-container{
  width: 150px;
  align-self: center;
}
.image-container img{
  width: 100%;
  height: auto;
  border-radius: 10%;

}

.details-container p{
  direction: rtl;
  margin: 0;
  text-align: center;
}


.logout-button,
.reload-button {
    font-family: inherit;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.spinner-container {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.spinner {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


td i {
  cursor: pointer;
  position: relative;

}

/* Dropdown container */
.dropdown-content {
  display: none;
  background-color: #fff;
  min-width: 200px;
  border-radius: 8px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 122;
}

/* Show dropdown content */
.dropdown-content.show {
  display: flex;
  flex-direction: column;
  position: absolute;
}

/* Dropdown links */
.dropdown-content a {
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  color: #333;
  font-size: 0.9rem;
  transition: background-color 0.3s, color 0.3s;
}

/* Hover effect on links */
.dropdown-content a:hover {
  background-color: #007bff; /* Highlight color */
  color: white;
  border-radius: 5px;
}

.search-container{
  width: 100%;
}
.table-search{
  width: 100%;
}


/*========== Campaign ==========*/


.campaign-actions{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 1rem 2rem;
}

.action-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 2rem;
}

.action-bar p{
  font-family: var(--body-font);
  font-size: 22px;
  font-weight: bold;
  margin:0;
}
.create-button, .button-row button{
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  margin: 0;
}
.create-button{
  background-color: #21aa78;
  color: #fff;
}

.campaign-form-container{
  display: none;
}

.form-group{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem 2rem;
}

.button-row{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}


/*========== Events ==========*/

.events-container{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 1rem 2rem;
}

.recommended-flows {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  margin: 1rem 2rem;
  border-radius: 8px;
}

.recommended-flows-container {
  display: flex;
  flex-direction: column; /* Change to row to make the cards align horizontally */
  gap: 1rem;
  padding-bottom: 1rem; /* Add padding to prevent cards from touching scrollbar */
  white-space: nowrap; /* Ensure cards don’t wrap */
  justify-content: center; /* Center the cards */
}

.flow-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 8px;
  height: 120px;
  width: 200px;
  box-shadow: rgba(55, 63, 71, 5%) 0px 0px 0px 1px, rgba(55, 63, 71, 16%) 0px 1px 4px;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
  
}


.flow-container:hover{
  background-color: #f5f5f5;
  color:#00ffa2;
  
}


.flow-card {
  display: flex;
  width: 60%;
  align-self: center;
  border-radius: 8px;
  border: 1px solid #dbdbdb;
  box-shadow: rgba(55, 63, 71, 5%) 0px 0px 0px 1px, rgba(55, 63, 71, 16%) 0px 1px 4px;
  flex-shrink: 0;
  padding: 1rem;

}


.flow-card-body {
  display: flex;
  flex-direction: column;
  margin-top: 1.3rem;
  width: 80%;
}

.flow-card-body p {
  margin: 0;
}


.flow-card-button {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.flow-card-button button {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  margin: 0;
  color: #ffffff;
  background-color: #000000;
}



.flow-card-img {
  width: 20%;
}

.flow-card-img img {
  width: 100%;
  height: 100%;
  border-radius: 8px 0 0 8px;
}

.title-description p {
  margin: 0;
  margin-top: 1rem;
  text-wrap: wrap;
}


/*========== Flow Builder ==========*/


.container { 
  display: flex; 
  direction: ltr;
  height: 100%;
  background-color: #f3f4f6;
}


.steps-list { 
  width: 15%; 
  background: #f9fafb; 
  padding: 1rem; 
  border-right: 1px solid #ddd; 
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  
}
.steps-list-header{
  padding: 1rem;
  text-align: center;
}

.steps-list-header h3{
  margin: 0;
  font-weight: bold;
  font-family: inherit;
}

.canvas { 
  width: 85%; 
  display: flex;
  flex-direction: column;
  padding: 1rem; 
  align-items: center;
}

.canvas-drag-drop{
  margin-top: 1rem;
  width: 80%;
  height: 80%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.canvas-steps{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  flex-wrap: wrap;
  justify-content: center;  
  width: 100%;
}


.action { 
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
  direction: rtl;
  align-items: center;
  padding: 10px;
  margin: 8px 0; 
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 6px;
  cursor: grab;
  border-radius: 8px;
  font-size: 14px;
  width: 80%;
}



.step { 
  padding: 10px; 
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
  direction: rtl;
  align-items: center;
  padding: 10px;
  margin: 8px 0; 
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 6px;
  cursor: grab;
  border-radius: 8px;
  width: 35%;

}

.step-action { 
  padding: 5px; 
  margin: 5px 0; 
  background: #cce; 
  display: flex;
  flex-direction: row;
  overflow: hidden;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}


.trigger { 
  padding: 10px;
  margin: 1rem 0;
  background: rgb(235, 253, 238);
  border: 1px solid rgb(172, 235, 183);
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
  width: 35%;
}

.step-action input{
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 0.875rem !important;
  font: inherit;
}

.step-action textarea {
  resize: none;
  padding: 0.5rem;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 0.875rem !important;
  font: inherit;
}
.action-btn { 
  padding: 5px; 
  background: #007bff; 
  color: white; 
  border: none; 
  cursor: pointer; 
}

.action-btn:hover { 
  background: #0056b3;
 }

.form-container { 
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f3f4f6;
  /* border top darker than background */
  border-top: 1px solid #ddd;
}

.save-btn {
   padding: 10px 20px; 
   background: green; 
   color: white; 
   border: none; 
   cursor: pointer; }


   /* Modal Styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 10; /* Ensure the modal is above everything else */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Dark background overlay */
}

.modal-content {
  background-color: #fff;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 400px;
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Modal fields styling */
.modal label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.modal textarea, 
.modal input, 
.modal select {
  width: calc(100% - 10px);
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 16px;
}

/* Save Button */
#save-action-btn {
  background-color: #28a745; /* Green background */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

#save-action-btn:hover {
  background-color: #218838; /* Darker green on hover */
}


.flowform-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%; 
  gap: 1rem;
  padding: 1rem;
}




.flowform-container button{
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  margin: 0;
  color: #fff;
}

.save-active-btn{
  background-color: #28a745; /* Green background */
  color: white;
}

.save-draft-btn{
  background-color: #6c757d; /* Gray background */
  color: white;
}

.flowform-container input{
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 0.875rem !important;
  font: inherit;

}
