/*========== GOOGLE FONTS ==========*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

/*========== VARIABLES CSS ==========*/
:root {
  --header-height: 4.5rem;

  /*========== Colors ==========*/
  --first-color: #a7d7c5;
  --first-color-light: #F4F0FA;
  --title-color: #19181B;
  --text-color: #58555E;
  --text-color-light: #A5A1AA;
  --body-color: #F9F6FD;
  --container-color: #FFFFFF;

  /*========== Font and typography ==========*/
  --body-font: "Tajawal", sans-serif;
  --normal-font-size: .938rem;
  --small-font-size: .75rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-fixed: 0;
}

@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
    --small-font-size: .775rem;
    --smaller-font-size: .813rem;
  }
}

/*========== BASE ==========*/
*, ::before, ::after {
  box-sizing: border-box;
}


html, body {
    direction: rtl;
    height: 100%;
    margin: 0;
    font-family: var(--body-font);
    background-color: #f5f6f8;
}

/*========== Header ==========*/

.container-nav{
  height: var(--header-height);
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background-color: #19181B;
  height: var(--header-height);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo-container {
  height: var(--header-height); /* Constrain the logo container to the header height */
  width: auto; /* The width will be determined by the image or can be set if needed */
  display: flex;
  align-items: center;
  justify-content: center; /* Center the logo vertically and horizontally */
  padding: 0.5rem;
}

.logo-container a{
  height: 100%;
  width: 100%;
}

.logo-image {
  height: 100%; /* Ensure the image height does not exceed the header height */
  width: auto; /* Maintain aspect ratio */
  object-fit: contain; /* Fit the image within the container without cropping */
}


.right-container{
  display: flex;
  align-items: center;
  gap : 1.5rem;
}

.support{
  font-weight: 800;
  color: #fff;
  
}
.fa-bell{
  font-size: 20px !important;
  color: #fff;
}

/* Divider container */
.divider {
    display: flex;
    height: calc(100vh - var(--header-height)); /* Adjust based on your header height */
}

/* Overlay content */

.message-display {
  display: none; /* Start hidden */
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  width: 25%;
  height: auto;
  padding: 1em;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  border-radius: 0.5rem;
  text-align: center;
  opacity: 0; /* Hidden by default */
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  
}

.message-display-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.message-icon{
  width: 100%;
  height: auto;
}

.message-icon i{
  font-size: 2rem;
}

.message-content{
  font-size: 1rem;
}

.message-title{
  font-size: 1.5rem;
  font-weight: bold;
}

.message-display.show {
  display: flex; /* Show when 'show' class is added */
  opacity: 1; /* Visible */
  transform: translateX(-50%) translateY(0); /* Subtle pop-in */
}


.overlay-content {
  position: fixed; /* Make it cover the whole page */
  top: 0; /* Align to the top */
  left: 0; /* Align to the left */
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background to darken everything */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Make sure it's above all other content */
}

/* Container for the reauth message */
.overlay-container {
  display: flex;
  flex-direction: column;
  justify-self: center;
  width: auto; /* Mid width */
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */
  border-radius: 8px; /* Rounded corners */
  text-align: center;
}

/* Style for the heading inside the overlay */
.overlay-container h2 {
  font-size: 24px; /* Nice font size */
  color: #333; /* Darker text color */
  margin-bottom: 20px; /* Spacing below the heading */
}

/* Optional reauth button styling */
.reauth-button {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  margin: 0;
  background-color: #21aa78; /* Green background */
  color: #fff;
  align-self: center;
}

.reauth-button:hover {
  background-color: #1e8e5f; /* Darker green on hover */
  transform: scale(1.05); /* Slightly enlarge the button */
  transition: background-color 0.3s, transform 0.3s; /* Smooth transition */
}

/* Blurred effect for the content */
.blurred {
  filter: blur(5px);
  pointer-events: none; /* Prevent interactions with blurred elements */
}



/* Main content */
.content {
    flex: 1; /* Take the remaining space */
    overflow-y: auto;
    background-color: #fbfbfb;
    position: relative; /* Add this */
    display: flex; /* Add this */
    flex-direction: column; /* Add this */
}

h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
.message.error {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    margin: 1rem;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
}

.message.success {
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    margin: 1rem;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
}

.hidden {
    display: none;
}

.popup {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-color: rgba(
        0,
        0,
        0,
        0.4
    );
    display: none;
}

.popup-group, .campaign-popup-group{
  margin: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  min-height: 40%;
}

.campaign-popup-group{
  height: 80%;
}
.popup-content-campaign{
    background-color: white;
    padding: 20px;
    width: 40%;
    font-weight: bolder;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 100%;
}

.popup-content-flow{
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 10% auto;
  padding: 20px;
  width: 50%;
  font-weight: bolder;
  border-radius: 5px;
}

.popup-content-flow form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.campaign-visualization{
  width: 40%;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 100%;
}

.sms-fields{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.wallpaper{
  width: 100%;
  height: 100%;
  position: relative; /* Add this */
}

.wallpaper img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.visualization-item{
  width: 100%;
  height: 100%;
  position: absolute; /* Change to absolute */
  top: 0;           /* Add this */
  left: 0;          /* Add this */
}

.chat-item{
  float: right;
  list-style: none;
  max-width: 75%;
  position: relative; /* Add this */
}

.chat-item-message{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  
  background: #E8FFD4 none repeat scroll 0 0;
  padding: 1rem;
  font-size: 0.875rem;
  word-wrap: break-word;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  position: relative; /* Add this */
}

/* Add this new style for the triangle */
.chat-item-message::after {
  content: '';
  position: absolute;
  right: -12px;
  top: 0;
  border: 8px solid transparent;
  border-color: transparent transparent transparent #e8ffd4;
  border-width: 0px 0 14px 13px;
}

.chat-item-message p{
  margin: 0;
}

.form-group select{
  font-family: inherit;
  direction: rtl;
}



.popup-content textarea, .popup-content-flow textarea, .popup-content-campaign textarea {
  resize: none;
  padding: 0.5rem;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 0.875rem !important;
  font: inherit;
}
.popup-content button, .popup-content-flow button, .popup-content-campaign button {
    display: block;
    margin: 0 auto;
    
}
.show {
    display: block;
}

.popup-content input, .popup-content-flow input, .popup-content-campaign input{
  padding: 0.5rem;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 0.875rem !important;
  font: inherit;
}

/* Dashboard */

.metrics-container{
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}


.metric-card{
  display: flex;
  flex-direction: row;
  flex: 1 1 calc(20% - 2rem); /* Adjust this value based on how many cards you want per row */
  min-width: 250px; /* Set a minimum width to prevent cards from becoming too narrow */
  max-width: calc(20% - 15px); /* Added max-width to maintain consistent sizing */
  height: auto;
  border-radius: 8px;
  box-shadow: rgba(55, 63, 71, 5%) 0px 0px 0px 1px, rgba(55, 63, 71, 16%) 0px 1px 4px;
  background-color: #fff;
  padding: 1rem;
}

.metric-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  width: 20%;
  height: auto;
}

.metric-icon i{
  color: #666;
}

.metric-content{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;
  justify-content: center;
}

.metric-content h5{
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
  color: #666;
}

.metric-content h1{
  font-weight: 600;
  margin: 0;
  color: #1a1a1a;
}

.charts-container{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem;
}

.chart-container-wrapper{
  border-radius: 4px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: 2rem;
}

.chart-container{
  padding: 1rem;
  box-shadow: rgba(55, 63, 71, 10%) 0px 0px 0px 1px, rgba(55, 63, 71, 16%) 0px 1px 4px;
  background-color: #fff;
  flex: 1 1 calc(33% - 3rem);
  border-radius: 8px;

}

.chart-container-single {
  padding: 1rem;
  box-shadow: rgba(55, 63, 71, 10%) 0px 0px 0px 1px, rgba(55, 63, 71, 16%) 0px 1px 4px;
  background-color: #fff;
  border-radius: 8px;
  width: 100%;
  height: auto; /* Let the height be determined by the content */
}

.chart-container-single canvas {
  display: block;
  width: 100% !important; /* Full width */
  height: 500px; /* Fixed height to maintain aspect ratio */
}


.chart-container canvas{
  width: 100% !important;
  height: auto !important;
}

.chart-header{
  padding: 0.5rem;
  display: flex;
  text-align: right;
  justify-content: space-between;
}
.chart-title{
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  color: #000000;
}

.daterange{
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 0.875rem;
  font: inherit;
}

/*Customer List*/


.sync-container{
  width: 100%;
  padding: 0rem 2rem;
}


.fa-user {
  font-size: 30px; /* Change this value to resize the icon */
  color: #000; /* Change this value to change the icon color */
  padding-top: 10px;
}

.fa-user-group {
  font-size: 30px; /* Change this value to resize the icon */
  color: #000; /* Change this value to change the icon color */
  padding-top: 10px;
}

.fa-user-plus {
  font-size: 30px; /* Change this value to resize the icon */
  color: #21aa78; /* Change this value to change the icon color */
  padding-top: 10px;
}
.table-container{
  margin: 2rem;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: rgba(55, 63, 71, 10%) 0px 0px 0px 1px, rgba(55, 63, 71, 16%) 0px 1px 4px;
  background-color: var(--color-background-default-base);
  box-sizing: border-box;
  background-color: #fff;
}


.table-header {
  display: flex;
  margin-bottom: 1rem;
  padding: 0.75rem;
  flex-direction: row;
}
table{
  border-spacing: 1;
  border-collapse: collapse;
  background: #fff;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
table thead tr {
  height: 60px;
  border-bottom: 1px solid #dfdfdf;

}
table tbody tr {
  height: 50px;
  border-bottom: 1px solid #dfdfdf;
}

table tbody tr td{
padding: 0.5rem 0.75rem;
direction: ltr;
text-align: right;
font-size: 0.875rem;

}
table thead tr th{
text-align: right;
padding: 0.5rem 0.75rem;
font-size: 0.875rem;

}

#myTable_wrapper{
  margin: 2rem;
  padding: 1rem;
  border-radius: 4px;
  background-color: var(--color-background-default-base);
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: rgba(55, 63, 71, 10%) 0px 0px 0px 1px, rgba(55, 63, 71, 16%) 0px 1px 4px;

}

.dt-column-order{
  right: auto !important;
  left: 12px !important;
}

.dt-column-title{
  text-align: right !important;
}

#myTable th{
  text-align: right !important;
}

.dt-layout-cell{
  margin: 0 !important;
}


.customers-card-container,
.group-card-container {
  display: flex;
  flex-direction: column;
  flex: 0 0 calc(20% - 15px); /* Changed to 10% width with fixed flex-grow and flex-shrink */
  padding: 0.5rem;
  min-width: 200px; /* Set a minimum width to prevent cards from becoming too narrow */
  max-width: calc(20% - 15px); /* Added max-width to maintain consistent sizing */
  height: auto;
  border-radius: 8px;
  box-shadow: rgba(55, 63, 71, 5%) 0px 0px 0px 1px, rgba(55, 63, 71, 16%) 0px 1px 4px;
  background-color: #fff;
}

.group-card-container {
  cursor: pointer;
}

.cards-container{
  display: flex;
  padding: 1rem;
  margin: 1rem;
  flex-wrap: wrap;
  gap: 15px;
  max-width: 100%;
  justify-content: flex-start; /* Center the cards */
}


.customers-count-title, .customers-list-title, .customers-new-group{
  font-weight: 500 !important;
  color: #333;
  text-align: center !important;

}


.customers-group-title{
font-size: 0.9rem !important;
font-weight: 300;
color: #4d4d4d;
}
.all-customers{
display: flex;
justify-content: center;
align-items: center;
padding: .5rem;
}
.customers-count{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: .5rem;
line-height: 1.25rem;
}
.customers-count-number .customers-list-number{
font-size: 1.2rem;
font-weight: 500;
color: #333;
}


.space{
  height: 20px;
  direction: ltr;
}

.fa-xmark{
  color: #be1d1d;
}

.pagination-controls{
display: flex;
flex-direction: row;
align-items: center;
padding:0.75rem;
}

.view-per-page{
  flex: 1 1 auto;
}

/* Remove default button styling */
button.square-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  width: 30px;  /* Adjust the size as needed */
  height: 30px; /* Adjust the size as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;  /* Optional: for rounded corners */
  transition: background-color 0.3s;
}

/* Add hover effect if desired */
button.square-button:hover {
  background-color: rgba(0, 0, 0, 0.1);  /* Light grey background on hover */
}

/* Style the icons */
button.square-button i {
  font-size: 20px; /* Adjust the size as needed */
  color: #000;    /* Adjust the color as needed */
}

.page-buttons{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;

}

button.square-button:disabled {
  cursor: not-allowed;
  background-color: rgba(0, 0, 0, 0.05);  /* Light grey background */
  color: rgba(0, 0, 0, 0.3);  /* Grey color for icon */
}

button.square-button:disabled i {
  color: rgba(0, 0, 0, 0.3);  /* Grey color for icon */
}

select{
  direction: rtl;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 0.875rem;
  font-family: inherit;
}

select{
  padding: 0.5rem 1rem !important;
}


.available-variables{
  padding: 0.5rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.available-variables p{
  margin: 0;
  font-size: 0.875rem;
  font-weight: 500;
  text-align: center;
}
.variable-item.coupon-variable{
  background-color: #21aa78 !important;
}

.variable-item-container{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
  flex-wrap: wrap;
}

.variable-item{
  padding: 0.5rem;
  border-radius: 4px;
  background-color: #1a1a1a;
  color: #fff;
  cursor: pointer;
}

.variable-item p{
  margin: 0;
  font-size: 0.875rem;
  font-weight: 500;
}





.table-search input{
  padding: 0.5rem;
  width: 40%;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 0.775rem !important;
  font: inherit;

}
/*========== Popup ==========*/

.popup-group-group {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.popup-group-group.show {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content-group {
  display: flex;
  flex-direction: column;
  justify-self: center;
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 4px;
  width: 40%;
  text-align: center; /* Center content horizontally */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add box shadow for depth */
}

.popup-content-group form {
  display: flex;
  flex-direction: column;
  gap : 1rem;
  margin-bottom: 10px; /* Add margin below the form */

}

.popup-content-group input{ 
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 0.875rem !important;
  font: inherit;

}

.condition {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.condition select {
  font-family: inherit;
  padding: 0.5rem;
  border-radius: 4px;
}

.value-container {
  display: flex;
  align-items: center; /* Align items vertically */
  justify-content: center;
  gap: 10px;
}

.value-field {
  width: 100px;
}
.condition-container{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.remove-button {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  margin: 0;
  background-color: #d9534f;
  color: #fff;
}
.create-group-button, .save-button{
  background-color: #21aa78;
  color: #fff;
}


#close-popup-button {
  margin-top: 10px; /* Add margin above the close button */
}

.rule-button{
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  margin: 0;
  background-color: #21aa78;
  color: #fff;
}



.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Popup content */
.delete-popup-content {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  max-width: 300px;
  width: 80%;
}

.delete-popup-content h2 {
  margin-top: 0;
}

.delete-popup-content button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#confirm-delete-button {
  background-color: #d9534f;
  color: white;
  font: inherit;
}

#cancel-delete-button {
  background-color: #333;
  color: white;
  font: inherit;
}


.content-container{
  height: 100%;
  display: flex;
  margin: 2rem;
  gap: 2rem


}


/*========== Whatsapp ==========*/

.session-container{
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 60%;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border-radius: 8px;
  padding: 1rem;
  
}

.how-to-scan{
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 40%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border-radius: 8px;
  padding: 1rem;
}

.how-to-scan img{
  width: 100%;
}

.how-to-scan ol {
  padding-left: 20px; /* Add padding to the left for indentation */
  list-style-type: decimal; /* Use decimal numbers for the list */
  margin: 1rem 0; /* Add margin for spacing */
}

.how-to-scan li {
  margin-bottom: 0.5rem; /* Add space between list items */
  color: #555; /* Change text color for better readability */
  font-size: 1rem; /* Set a base font size */
  line-height: 1.5; /* Improve line height for readability */
}


.nameElement{
  font-size: 1.5rem;
  font-family: inherit;
  font-weight: 500;
  color: #333;
  margin-bottom: 1rem;
}

.aboutElement{
  color: #c4bc99;
}

.qr-code-container{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: 100%;
}
.details-container{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: 100%;
}
.image-container{
  width: 250px;
  align-self: center;
}
.image-container img{
  width: 100%;
  height: auto;
  border-radius: 10%;

}

.details-container p{
  direction: rtl;
  margin: 0;
  text-align: center;
}


.logout-button,
.reload-button {
    font-family: inherit;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.spinner-container {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.spinner {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


td i {
  cursor: pointer;
  position: relative;

}

/* Dropdown container */
.dropdown-content {
  display: none;
  background-color: #fff;
  min-width: 200px;
  border-radius: 8px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 122;
}

/* Show dropdown content */
.dropdown-content.show {
  display: flex;
  flex-direction: column;
  position: absolute;
}

/* Dropdown links */
.dropdown-content a {
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  color: #333;
  font-size: 0.9rem;
  transition: background-color 0.3s, color 0.3s;
}

/* Hover effect on links */
.dropdown-content a:hover {
  background-color: #007bff; /* Highlight color */
  color: white;
  border-radius: 5px;
}

.search-container{
  width: 100%;
}
.table-search{
  width: 100%;
}


/*========== Campaign ==========*/


.campaign-actions{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 1rem 2rem;
}

.action-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 2rem;
}

.action-bar p{
  font-family: var(--body-font);
  font-size: 22px;
  font-weight: bold;
  margin:0;
}
.create-button, .button-row button, .sync-button{
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  margin: 0;
}
.create-button, .sync-button{
  background-color: #21aa78;
  color: #fff;
}

.campaign-form-container{
  display: none;
}

.form-group{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem 2rem;
}

.button-row{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}


/*========== Events ==========*/

.events-container{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 1rem 2rem;
}

.recommended-flows {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  margin: 1rem 2rem;
  border-radius: 8px;
}

.recommended-flows-container {
  display: flex;
  flex-direction: column; /* Change to row to make the cards align horizontally */
  gap: 1rem;
  padding-bottom: 1rem; /* Add padding to prevent cards from touching scrollbar */
  white-space: nowrap; /* Ensure cards don’t wrap */
  justify-content: center; /* Center the cards */
}

.flow-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 8px;
  height: 120px;
  width: 200px;
  box-shadow: rgba(55, 63, 71, 5%) 0px 0px 0px 1px, rgba(55, 63, 71, 16%) 0px 1px 4px;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
  
}


.flow-container:hover{
  background-color: #f5f5f5;
  color:#00ffa2;
  
}


.flow-card {
  display: flex;
  width: 60%;
  align-self: center;
  border-radius: 8px;
  border: 1px solid #dbdbdb;
  box-shadow: rgba(55, 63, 71, 5%) 0px 0px 0px 1px, rgba(55, 63, 71, 16%) 0px 1px 4px;
  flex-shrink: 0;
  padding: 1rem;

}


.flow-card-body {
  display: flex;
  flex-direction: column;
  margin-top: 1.3rem;
  width: 80%;
}

.flow-card-body p {
  margin: 0;
}


.flow-card-button {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.flow-card-button button {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  margin: 0;
  color: #ffffff;
  background-color: #000000;
}



.flow-card-img {
  width: 20%;
}

.flow-card-img img {
  width: 100%;
  height: 100%;
  border-radius: 8px 0 0 8px;
}

.title-description p {
  margin: 0;
  margin-top: 1rem;
  text-wrap: wrap;
}


/*========== Flow Builder ==========*/


.container { 
  display: flex; 
  direction: ltr;
  height: 100%;
  background-color: #f3f4f6;
  overflow: hidden; /* Avoid browser scrollbar */

}


.steps-list { 
  width: 15%; 
  background: #f9fafb; 
  padding: 1rem; 
  border-right: 1px solid #ddd; 
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  
}
.steps-list-header{
  padding: 1rem;
  text-align: center;
}

.steps-list-header h3{
  margin: 0;
  font-weight: bold;
  font-family: inherit;
}

.canvas { 
  width: 85%; 
  display: flex;
  flex-direction: column;
  padding: 1rem; 
  align-items: center;
  height: 100vh; /* Fill available height */
}

.panzoom-container {

  width: 90%; /* Set this as the visible area */
  height: 75vh; /* A smaller visible height */
  background-color: #fff;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  overflow: hidden; /* Hide overflow to simulate a "window" for panning */
  position: relative;
}

.canvas-drag-drop {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300%;  /* Ensure the inner canvas is larger for free movement */
  height: 300%; /* Both width and height are larger for more panning space */
  position: absolute;
  background-color: #fff;
}

.canvas-steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
}

.canvas-controls{
  margin-top: 1rem;
  direction: rtl;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.canvas-controls button{
  font-family: inherit;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin: 0;
  background-color: #218838;
  color: #fff;
  font-weight: bold;
}




.action { 
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
  direction: rtl;
  align-items: center;
  padding: 10px;
  margin: 8px 0; 
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 6px;
  cursor: grab;
  border-radius: 8px;
  font-size: 14px;
  width: 80%;
}



.step { 
  padding: 1rem;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
  direction: rtl;
  align-items: center;
  margin: 8px 0; 
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 6px;
  cursor: grab;
  border-radius: 8px;
  width: 10%;
  position: relative;

}

.connection-line {
  position: absolute;
  background-color: #333;
  width: 2px;
  transform: translateX(-50%);
}

.insert-point {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #63E6BE;
  position: absolute;
  cursor: pointer;
  z-index: 2;
}

.step-action { 
  padding: 5px; 
  margin: 5px 0; 
  background: #cce; 
  display: flex;
  flex-direction: row;
  overflow: hidden;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}


.trigger { 
  padding: 1rem;
  margin: 1rem 0;
  background: rgb(235, 253, 238);
  border: 1px solid rgb(172, 235, 183);
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
  width: 10%;
  position: relative;
}


#trigger-fields {
  width: 100%;
}

.custom-select {
  position: relative;
  width: 100%;
  font-family: inherit;
}

.select-selected {
  background-color: #fff;
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  text-align: right;
  font-size: 16px;
}

.select-items {
  display: none;
  position: absolute;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 5px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
}

.select-option {
  padding: 0.5rem 1rem;
  cursor: pointer;
  text-align: right;
}

.select-option:hover {
  background-color: #f0f0f0;
}

.trigger-name {
  font-weight: bold;
  display: block;
}

.trigger-description {
  font-size: 14px;
  color: #666;
  word-wrap: break-word;
  white-space: normal;
}


.step-action input{
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 0.875rem !important;
  font: inherit;
}

.step-action textarea {
  resize: none;
  padding: 0.5rem;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 0.875rem !important;
  font: inherit;
}
.action-btn { 
  padding: 5px; 
  background: #007bff; 
  color: white; 
  border: none; 
  cursor: pointer; 
}

.action-btn:hover { 
  background: #0056b3;
 }

.form-container { 
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f3f4f6;
  /* border top darker than background */
  border-top: 1px solid #ddd;
}

.save-btn {
   padding: 10px 20px; 
   background: green; 
   color: white; 
   border: none; 
   cursor: pointer; }



.connection-line, .insert-point {
  transform-origin: top left;
}


   /* Modal Styles */
.modal {
  display: none; /* Hidden by default */
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10; /* Ensure the modal is above everything else */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Dark background overlay */
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  width: 40%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  border-radius: 5px;
  height: auto;
}

.close {
  color: #00ff94; /* Green color */
  float: right;
  font-size: 50px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 5%;
  right: 5%;
}

.close:hover,
.close:focus {
  color: #2fb980;
  text-decoration: none;
  cursor: pointer;
}

/* Modal fields styling */
.modal label {
  display: block;
  font-weight: bold;
}

.modal textarea, 
.modal input, 
.modal select {
  width: calc(100% - 10px);
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 14px;
  font-family: inherit;
  text-align: right;
}

.modal-footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}
/* Save Button */
#save-action-btn {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  margin: 0;
  background-color: #21aa78; /* Green background */
  color: #fff;
  
}



#delete-step-btn{
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  margin: 0;
  background-color: #c82333; /* Red background */
  color: #fff;
}



.flowform-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%; 
  gap: 1rem;
  padding: 1rem;
}

.sms-message, .coupon-message{
  font-family: inherit;
  resize: vertical;
  min-height: 200px;
  max-height: 400px;
  overflow: auto;
}




.flowform-container button{
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  margin: 0;
  color: #fff;
}

.save-active-btn{
  background-color: #28a745; /* Green background */
  color: white;
}

.save-draft-btn{
  background-color: #6c757d; /* Gray background */
  color: white;
}

.flowform-container input{
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 0.875rem !important;
  font: inherit;

}









