{% extends 'main.html' %}
{% load static %}

{% block content %}


  <div class="popup" id="myPopup">
    <div class="popup-group">
    <div class="popup-content-campaign">
      <span id="closePopupButton" class="close">&times;</span>
      <form method="POST" id="campaign-form">
        {% csrf_token %}
        {{ form.non_field_errors }}
  
        <!-- Manually render each form field -->
        <div class="form-group">
          {{ form.name.errors }}
          {{ form.name }}
        </div>
  
        <div class="form-group">
          {{ form.scheduled_time.errors }}
          {{ form.scheduled_time }}
        </div>
        
        <div class="form-group">
            {{ form.customers_group.errors }}
            {{ form.customers_group }}
          </div>
    
        <div class="form-group">
          {{ form.msg.errors }}
          {{ form.msg }}
        </div>

        <div class="form-group" style="display:none;">
          {{ form.status.errors }}
          {{ form.status }}
        </div>


        <div class="available-variables">
          <div class="variable-item-container">
          <div class="variable-item" onclick="addVariableToMessage('{اسم العميل}')">
            <p>اسم العميل</p>
          </div>
          <div class="variable-item" onclick="addVariableToMessage('{الاسم الاول}')">
            <p>الاسم الاول</p>
          </div>
          <div class="variable-item" onclick="addVariableToMessage('{الايميل}')">
            <p>الايميل</p>
          </div>
          <div class="variable-item" onclick="addVariableToMessage('{رقم العميل}')">
            <p>رقم العميل</p>
          </div>
          <div class="variable-item" onclick="addVariableToMessage('{الدولة}')">
            <p>الدولة</p>
          </div>
          </div>
          <p>المتغيرات سوف تستبدل بالقيم المناسبة للعميل المرسل له</p>
        </div>

        <div class="button-row">
          <button type="submit" id="scheduled" class="save-active-btn" value="scheduled">جدولة</button>
          <button type="submit" class="save-draft-btn" value="draft">حفظ كمسودة</button>
        </div>
      </form>
    </div>
    <div class="campaign-visualization">
        <div class="wallpaper">
          <img src="{% static 'images/wallpaper.png' %}" alt="wallpaper">
          <div class="visualization-item">
            <ul class="chat-item">
              <li class="chat-item-message">
                <p id="visualization-message"></p>
              </li>
            </ul>
          </div>
        </div>
    </div>
    </div>
  </div>
  

      <div class="action-bar">
        <p>الحملات</p>
        <button class="create-button" onclick=showPopup()>
            <i class="fa-solid fa-plus"></i>
            <span>إنشاء حملة</span>
        </button>
        </div>


    <table id="myTable" class="table table-striped hover" style="width:100%">
      <thead>
          <tr>
            <th>الحملة</th>
            <th>الوقت المجدول</th>
            <th>الحالة</th>
            <th>الرسائل المرسلة</th>
          </tr>
      </thead>

  </table>

  <div id="get-campaigns-url" data-get-campaigns-url="{% url 'get_campaigns' %}"></div>



    <script>
      const getCampaignsUrl = document.getElementById('get-campaigns-url').dataset.getCampaignsUrl;

      document.addEventListener('DOMContentLoaded', function() {
        const myTable = document.getElementById('myTable');
        if (myTable) {
            $(myTable).DataTable({
                ajax: {
                    url: getCampaignsUrl,
                    dataSrc: 'data'
                },
                columns: [
                    { data: 'name' },
                    { data: 'scheduled_time' },
                    { data: 'status' },
                    { data: 'messages_sent' },
                    { 
                        data: null,
                        render: function (data, type, row) {
                            return `
                                <div class="dropdown-icon">
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                    <div class="dropdown-content">
                                        ${
                                            row.status === "scheduled" || row.status === "draft" ? `
                                                <a href="javascript:void(0);" onclick="showPopup('${row.id}');">تعديل</a>
                                                <a href="${row.cancel_url}">الغاء</a>
                                            ` : `
                                                <a href="javascript:void(0);" onclick="showPopup('${row.id}');">اظهار</a>
                                                <a href="${row.delete_url}">حذف</a>
                                            `
                                        }
                                    </div>
                                </div>`;
                        }
                    }
                ],
                paging: true,
                pageLength: 25,
                layout: {
                    topStart: {
                        features: {
                            search: {
                                placeholder: 'ابحث'
                            }
                        }
                    },
                    topEnd: null,       // Places the search box at the top right
                    bottomStart: 'pageLength',    // Places "info" (e.g., "Showing 1 to 10 of 57 entries") at the bottom left
                    bottomEnd: 'paging'     // Places pagination controls at the bottom right
                },
                language: { 
                    search: '',
                    lengthMenu: '_MENU_',
                    zeroRecords: "لا توجد سجلات متاحة",
                }
            });
        }
    });



      document.addEventListener('DOMContentLoaded', function() {
        // Attach event listeners
    
        // Show popup
        const showPopupButton = document.getElementById('showPopupButton');
        if (showPopupButton) {
            showPopupButton.addEventListener('click', function(event) {
                event.preventDefault();
                showPopup();
            });
        }
    
        // Close popup
        const closePopupButton = document.getElementById('closePopupButton');
        if (closePopupButton) {
            closePopupButton.addEventListener('click', function(event) {
                event.preventDefault();
                closePopup();
                visualMessage.innerText = '';


            });
        }
    
        // Event delegation for dropdowns
        document.addEventListener('click', function(event) {
            const dropdownIcon = event.target.closest('.dropdown-icon');
            if (dropdownIcon) {
                event.stopPropagation(); // Prevent the event from bubbling up
                closeAllDropdowns(); // Close other open dropdowns
                const dropdown = dropdownIcon.querySelector('.dropdown-content');
                dropdown.classList.toggle('show'); // Toggle the dropdown for the clicked icon
            } else {
                closeAllDropdowns(); // Close dropdowns if clicked outside
            }
        });
    
        // Prevent dropdown click from closing when clicking inside the dropdown itself
        document.addEventListener('click', function(event) {
            const dropdownContent = event.target.closest('.dropdown-content');
            if (dropdownContent) {
                event.stopPropagation(); // Prevent closing when clicking inside the dropdown
            }
        });

        // Add message visualization update
        const messageInput = document.getElementById('id_msg');
        const visualMessage = document.getElementById('visualization-message');
        
        // Set initial message
        visualMessage.innerText = messageInput.value;
        // Update message as user types
        messageInput.addEventListener('input', function() {
            visualMessage.innerText = this.value;
        });

    });
  
    document.getElementById('campaign-form').addEventListener('submit', function(e) {
      e.preventDefault();
  
      var statusSelector = document.querySelector('[name="status"]');  // Select the hidden status field
      var clickedButton = e.submitter;  // Get the button that triggered the submit event
      var status = clickedButton.value;
  
      statusSelector.value = status;  // Set the value of the status field
      console.log(statusSelector.value);  // For debugging, shows the selected status
  
      e.target.submit();  // Submit the form with the updated status
  });
  

    function addVariableToMessage(variable){
      const messageInput = document.getElementById('id_msg');
      const visualMessage = document.getElementById('visualization-message');
      messageInput.value += variable;
      visualMessage.innerText = messageInput.value;

    }


          

      
    function showPopup(campaignId) {
      const form = document.getElementById('campaign-form');
      const submitButton = document.querySelector('.save-active-btn');
      const visualMessage = document.getElementById('visualization-message'); 
  
      if (campaignId) {
          // Editing mode
          form.action = '/edit_campaign/' + campaignId + '/';
  
          fetch('/get_campaigns/' + campaignId + '/')
              .then(response => response.json())
              .then(data => {
                  if (data.success) {
                      allCampaigns = data.data;
                      const campaignData = data.data;
  
                      if (campaignData.status === "scheduled" || campaignData.status === "draft") {
                          submitButton.innerText = 'تحديث';
                          submitButton.style.display = ''; // Ensure the button is visible
                          // Make fields editable
                          document.getElementById('id_name').readOnly = false;
                          document.getElementById('id_scheduled_time').readOnly = false;
                          document.getElementById('id_customers_group').readOnly = false;
                          document.getElementById('id_customers_group').disabled = false;
                          document.getElementById('id_msg').readOnly = false;

                      } else {
                          // Hide the submit button
                          submitButton.style.display = 'none';
                          // Make fields read-only
                          document.getElementById('id_name').readOnly = true;
                          document.getElementById('id_scheduled_time').readOnly = true;
                          document.getElementById('id_customers_group').readOnly = true;
                          document.getElementById('id_customers_group').disabled = true;
                          document.getElementById('id_msg').readOnly = true;
                      }
  
                      // Populate form fields
                      document.getElementById('id_name').value = campaignData.name;
                      document.getElementById('id_scheduled_time').value = campaignData.scheduled_time;
                      document.getElementById('id_customers_group').value = campaignData.customers_group;
                      document.getElementById('id_msg').value = campaignData.msg;
                      // populate message visualization

                      visualMessage.innerText = campaignData.msg;
  
                      // Show the popup
                      document.getElementById("myPopup").style.display = "flex";
                      closeAllDropdowns();
                  } else {
                      alert('Failed to load campaign data');
                  }
              });
      } else {
          // Creating mode
          form.action = '{% url "campaigns" %}';
          submitButton.innerText = 'جدولة';
          submitButton.style.display = ''; // Ensure the button is visible
          // Make fields editable
          document.getElementById('id_name').readOnly = false;
          document.getElementById('id_scheduled_time').readOnly = false;
          document.getElementById('id_customers_group').readOnly = false;
          document.getElementById('id_customers_group').disabled = false;
          document.getElementById('id_msg').readOnly = false;
          form.reset();
          document.getElementById("myPopup").style.display = "flex";
          closeAllDropdowns();
      }
  }
  
      
      // Function to close the popup
      function closePopup() {
        document.getElementById('myPopup').style.display = 'none';
      }
      

      function closeAllDropdowns() {
        const dropdowns = document.querySelectorAll('.dropdown-content');
        dropdowns.forEach(function(dropdown) {
            dropdown.classList.remove('show');
        });
    }


  


  
      </script>
{% endblock %}




