{% extends 'main.html' %}
{% load static %}

{% block content %}
<div class="content-body">
    <h2>My Events</h2>

    {% if events %}
        <div class='events-container'>
        {% for event in events %}
            <div class="event-container" onclick="openEditPopup('{{ event.id|escapejs }}','{{ event.event_type.id|escapejs }}','{{ event.subcategory|escapejs }}','{{ event.message_template|escapejs }}')">
                <div class="event-type">{{ event.event_type.label }}</div>
            </div>
        {% endfor %}
        </div>
    {% else %}
        <p>You have no events.</p>
    {% endif %}

    <h2>Create New Event</h2>
    <button id="myButton">Add</button>
    <div id="myPopup" class="popup">
        <div class="popup-content">
            <form id="eventForm" method="post" action="{% url 'events' %}">
                {% csrf_token %}
                {{ form.as_p }}
                
                <div class="button-row">
                    <button type="submit" id="saveButton">حفظ</button>
                    <button type="button" id="closePopup">الغاء</button>
                  </div>
            </form>
        </div>
    </div>

    <script>
        var order_updated_event_type_id = '{{ order_updated_event_type_id }}';
        var eventFormActionUrl = '{% url "events" %}';
    </script>
    <script src="{% static 'js/events.js' %}"></script>

</div>
{% endblock %}
