{% extends 'main.html' %}
{% load static %}

{% block content %}
    <div class="action-bar">
    <p>الرسائل التلقائية</p>

    <button class="create-button" id="myButton">
        <i class="fa-solid fa-plus"></i>
        <span>انشاء رسالة تلقائية</span>
    </button>
    </div>



    <div class="table-container">
        <div class="table-header">
            <div class="search-container">
            <div class="table-search">
                <input type="text" id="search" placeholder="بحث عن طريق اسم الحملة, الحالة, الوقت">
            </div>
            </div>
        </div>
        <table id="campaigns-table">
            <thead>
                <tr>
                    <th>الحملة</th>
                    <th>وقت الانشاء</th>
                    <th>الحالة</th>
                    <th>تم الاستلام</th>
                  </tr>
            </thead>
            <tbody id="campaigns-body">
                {% if flows %}
                {% for flow in flows %}
                <tr>
                    <td>{{ flow.name }}</td>
                    <td>{{ flow.created_at}}</td>
                    <td>{{ flow.status }}</td>
                    <td>{{ flow.reciepients }}</td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
        <div class="pagination-controls">
            <div class="view-per-page">
                <select id="rows-per-page">
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </div>
            <div class="page-buttons">
                <button id="next-page" class="square-button">
                    <i class="fa-solid fa-angle-right"></i>
                </button>
                <button id="prev-page" class="square-button">
                    <i class="fa-solid fa-angle-left"></i>
                </button>
            
            </div>
        </div>

    </div>
    




  

    <div class="recommended-events">
        <p>الرسائل التلقائية الموصى بها</p>
        <div class="recommended-events-container">
            {% if suggestions %}
            {% for suggestion in suggestions %}
            <div class="event-card">
                
                <div class="event-card-body">
                    <div class="title-description">
                        <h3>{{ suggestion.name }}</h3>
                        <p>{{ suggestion.description }}</p>
                    </div>
                    <div class="event-card-button">
                        <a href="{% url 'activate_suggested_flow' suggestion.id %}" class="edit-button">تفعيل</a>
                    </div>
                    
                </div>
                <div class="event-card-img">
                    <img src="{% static 'svgs/'|add:suggestion.img %}">
                </div>
            </div>
            {% endfor %}



    </div>
    {% else %}
    <p>You have no suggestion.</p>
    {% endif %} 


    <div id="myPopup" class="popup">
        <div class="popup-content">
            <form id="eventForm" method="post" action="{% url 'events' %}">
                {% csrf_token %}
                {{ form.as_p }}
                
                <div class="button-row">
                    <button type="submit" id="saveButton">حفظ</button>
                    <button type="button" id="closePopup">الغاء</button>
                  </div>
            </form>
        </div>
    </div>

    <script>
        var order_updated_event_type_id = '{{ order_updated_event_type_id }}';
        var eventFormActionUrl = '{% url "events" %}';
    </script>
    <script src="{% static 'js/events.js' %}"></script>

{% endblock %}
