{% extends 'main.html' %}
{% load static %}

{% block content %}

    <div class="statics-container">

    <div class="statics-card">
      <div class="statics-icon">
        <i class="bx bxs-cog"></i>
      </div>
      <div class="statics-content">
        <h5>اجمالي الأتمتة</h5>
        <h1 id="total-flows"></h1>
      </div>
    </div>


    <div class="statics-card">
      <div class="statics-icon">
        <i class="bx bxs-envelope"></i>
      </div>
      <div class="statics-content">
        <h5>الأتمتة النشطة</h5>
        <h1 id="active-flows"></h1>
      </div>
    </div>

    <div class="statics-card">
      <div class="statics-icon">
        <i class="bx bxs-pencil"></i>
      </div>
      <div class="statics-content">
        <h5>الأتمتة المسودة</h5>
        <h1 id="draft-flows"></h1>
      </div>
    </div>

      <div class="statics-card">
        <div class="statics-icon">
          <i class="bx bxs-envelope"></i>
        </div>
        <div class="statics-content">
          <h5>اجمالي الرسائل</h5>
          <h1 id="total-messages"></h1>
        </div>
      </div>

    </div>
    <div class="action-bar">
    <p>الأتمتة</p>

    <button class="create-button" id="myButton">
        <i class="fa-solid fa-plus"></i>
        <span>إنشاء أتمتة</span>
    </button>
    </div>


    <table id="myTable" class="table table-striped hover" style="width:100%">
        <thead>
            <tr>
                <th>الأتمتة</th>
                <th>وقت الانشاء</th>
                <th>الحالة</th>
                <th>الرسائل المرسلة</th>
            </tr>
        </thead>

    </table>
    


    




  


    <div id="myPopup" class="popup">
        <div class="popup-content-flow">
            <span id ="closePopup" class="close">&times;</span>
            <form id="flowForm" novalidate>
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-field">
                        {% if field.name == 'trigger'%}
                        <div style="display:none;">
                            {{ field }}
                        </div>
                        <div class="custom-select" style="width: 100%;">
                            <div id="selected-trigger" class="select-selected">اختر الأتمتة</div>
                            <div id="options-list" class="select-items">
                                {% for trigger in triggers %}
                                <div class="select-option" data-id="{{ trigger.id }}">
                                    <span class="trigger-name">{{ trigger.name }}</span>
                                    <span class="trigger-description">{{ trigger.description }}</span>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% else %}
                        {{ field }}
                        {% endif %}
                    </div>
                {% endfor %}
                <div class="button-row">
                    <button class="save-button" type="submit" id="saveButton">حفظ</button>
                </div>
            </form>
            
        </div>
    </div>

    <div class="recommended-flows">
        <h3>الأتمتة الموصى بها</h3>
        <div id="recommended-flows-container" class="recommended-flows-container">
           
            <!-- Suggested Flows will be injected here by JavaScript -->

        </div>
    </div>

    <div id="get-flows-url" data-get-flows-url="{% url 'get_flows' %}"></div>
    <div id="activate-suggested-flow-url" data-activate-suggested-flow-url="{% url 'activate_suggested_flow' suggestion_id=0 %}"></div>

    <script src="https://cdn.datatables.net/v/dt/jq-3.7.0/dt-2.1.8/datatables.min.js"></script>

    <script>

        document.getElementById('flowForm').addEventListener('submit', function(e) {
            e.preventDefault();
        
            var formData = new FormData(e.target);
        
            fetch(e.target.action, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,
                    'X-Requested-With': 'XMLHttpRequest'
                },
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    window.location.href = data.redirect_url;
                    refreshTable();
                } else {
                    if (typeof data.message === 'object') {
                        for (const [field, errors] of Object.entries(data.message)) {
                            errors.forEach(error => {
                                showMessage(`${field}: ${error.message}`, 'error');
                            });
                        }
                    } else {
                        showMessage(data.message, data.type);
                    }
                }
            })
            .catch(error => {
                showMessage('حدث خطأ ما. يرجى المحاولة مره اخرى.', 'error');
            });
        }); 


    const getFlowsUrl = document.getElementById('get-flows-url').dataset.getFlowsUrl;
    var flowFormActionUrl = '{% url "flows" %}';


    fetchAllFlows();

    document.addEventListener('DOMContentLoaded', function () {
        var selectedTrigger = document.getElementById('selected-trigger');
        var optionsList = document.getElementById('options-list');
        var options = document.querySelectorAll('.select-option');
        var hiddenSelect = document.querySelector('[name="trigger"]');  // Select the hidden form field for the trigger
        var nameInput = document.querySelector('[name="name"]');  // Select the name input field
    
        selectedTrigger.addEventListener('click', function () {
            optionsList.style.display = optionsList.style.display === 'block' ? 'none' : 'block';
        });
    
        options.forEach(option => {
            option.addEventListener('click', function () {
                selectedTrigger.textContent = option.querySelector('.trigger-name').textContent;
                optionsList.style.display = 'none';
                selectedTrigger.dataset.selectedId = option.dataset.id;
    
                // Update the hidden select field with the chosen trigger's ID
                hiddenSelect.value = option.dataset.id;
            });
        });
    
        window.addEventListener('click', function (event) {
            if (!event.target.closest('.custom-select')) {
                optionsList.style.display = 'none';
            }
        });

        // add event listener to form
        document.getElementById('flowForm').addEventListener('submit', function(event) {
            if (!selectedTrigger.dataset.selectedId) {
                event.preventDefault();  // Prevent form submission
                hiddenSelect.setCustomValidity('يرجى اختيار المشغل');  // Set validity message on the hidden select
        
                // Display the error message visually on selectedTrigger
                selectedTrigger.textContent = 'يرجى اختيار المشغل';
                selectedTrigger.style.color = 'red';
                selectedTrigger.style.border = '2px solid red';
            } 
            else if (!nameInput.value) {
                event.preventDefault();  // Prevent form submission
                nameInput.setCustomValidity('يرجى ادخال اسم الأتمته');  // Set validity message on the name input

                // Display the error message visually on nameInput
                nameInput.style.border = '2px solid red';

            }
            
            else {
                nameInput.setCustomValidity('');  // Clear custom validity
                nameInput.style.border = '';  // Remove error styling
                hiddenSelect.setCustomValidity('');  // Clear custom validity
                selectedTrigger.style.color = '';  // Reset color to default
                selectedTrigger.style.border = '';  // Remove error styling
            }
        });

        options.forEach(option => {
            option.addEventListener('click', function () {
                selectedTrigger.textContent = option.querySelector('.trigger-name').textContent;
                optionsList.style.display = 'none';
                selectedTrigger.dataset.selectedId = option.dataset.id;
        
                // Update the hidden select field and reset styling
                hiddenSelect.value = option.dataset.id;
                selectedTrigger.style.color = '';  // Reset text color to default
                selectedTrigger.style.border = '';  // Clear the error styling
            });
        });
        

    });


    function openAddPopup() {
        const flowForm = document.getElementById("flowForm");
        if (flowForm) {
            flowForm.reset();  // Resets the form
            flowForm.action = flowFormActionUrl;  // Sets the action URL
            document.getElementById("saveButton").innerText = "حفظ";
            document.getElementById("myPopup").classList.add("show");  // Shows the popup by adding 'show' class
            document.getElementById("myPopup").style.display = "block";  // Ensures popup is visible
        } else {
            console.error("Form not found.");
        }
    }
    
    document.getElementById("myButton").addEventListener("click", openAddPopup);
    
    // Event listener for close button to close popup
    document.getElementById("closePopup").addEventListener("click", function() {
        document.getElementById("myPopup").classList.remove("show");
        document.getElementById("myPopup").style.display = "none";  // Hides the popup by setting display to none
    });
    
    // Event listener to close popup if clicked outside
    window.addEventListener("click", function(event) {
        const popup = document.getElementById("myPopup");
        if (event.target === popup) {
            popup.classList.remove("show");
            popup.style.display = "none";  // Hides the popup when clicked outside
        }
    });
    


    document.addEventListener('click', function(event) {
        const dropdownIcon = event.target.closest('.dropdown-icon');
        if (dropdownIcon) {
            event.stopPropagation(); // Prevent the event from bubbling up
            closeAllDropdowns(); // Close other open dropdowns
            const dropdown = dropdownIcon.querySelector('.dropdown-content');
            dropdown.classList.toggle('show'); // Toggle the dropdown for the clicked icon
        } else {
            closeAllDropdowns(); // Close dropdowns if clicked outside
        }
    });

    document.addEventListener('click', function(event) {
        const dropdownContent = event.target.closest('.dropdown-content');
        if (dropdownContent) {
            event.stopPropagation(); // Prevent closing when clicking inside the dropdown
        }
        });

    // Function to close all dropdowns
    function closeAllDropdowns() {
        const dropdowns = document.querySelectorAll('.dropdown-content');
        dropdowns.forEach(function(dropdown) {
            dropdown.classList.remove('show');
        });
    }




    function fetchAllFlows() {
        fetch(getFlowsUrl, {
            method: 'GET',
            headers: { 'Content-Type': 'application/json' }
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                displaySuggestedFlows(data.data.suggestions);
            } else {
                showMessage(data.message, data.type);
            }
        })
        .catch(error => {
            showMessage(error, 'error');
        });
    }



    document.addEventListener('DOMContentLoaded', function() {
        
        const myTable = document.getElementById('myTable');
        if (myTable) {
            $(myTable).DataTable({
                ajax: {
                    url: getFlowsUrl,
                    dataSrc: function(data) {
                        // Log the data to inspect its structure
                    
                        // Access the flows array correctly
                        const flowsArray = data.data.flows || []; // Use an empty array as a fallback

                    
                        // Update the statistics elements
                        const totalFlows = flowsArray.length;
                        const activeFlows = flowsArray.filter(flow => flow.status === "مفعلة").length;
                        const totalMessages = flowsArray.reduce((sum, flow) => sum + flow.messages_sent, 0);
                        const draftFlows = flowsArray.filter(flow => flow.status === "مسودة").length; // Assuming "مسودة" is the draft status
                    
                        document.getElementById('total-flows').textContent = totalFlows;
                        document.getElementById('active-flows').textContent = activeFlows;
                        document.getElementById('total-messages').textContent = totalMessages;
                        document.getElementById('draft-flows').textContent = draftFlows;
                    
                        // Return the flows array for DataTable
                        return flowsArray;
                    }
                  },
                columns: [
                    { data: 'name' },
                    { data: 'updated_at' },
                    { data: 'status' },
                    { data: 'messages_sent' },
                    { 
                        data: null,
                        render: function (data, type, row) {
                            return `
                                <div class="dropdown-icon">
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                    <div class="dropdown-content">
                                        <a href="/flow/${row.id}/" class="edit-button">تعديل</a>
                                        <a href="#" onclick="deleteFlow('${row.id}')" class="delete-button">حذف</a>
                                    </div>
                                </div>`;
                        }
                    }
                ],
                paging: true,
                pageLength: 25,
                layout: {
                    topStart: {
                        features: {
                            search: {
                                placeholder: 'ابحث'
                            }
                        }
                    },
                    topEnd: null,       // Places the search box at the top right
                    bottomStart: 'pageLength',    // Places "info" (e.g., "Showing 1 to 10 of 57 entries") at the bottom left
                    bottomEnd: 'paging'     // Places pagination controls at the bottom right
                },
                language: { search: '',
                lengthMenu: '_MENU_',
                zeroRecords:    "لا توجد سجلات متاحة",
                emptyTable: "لا توجد سجلات متاحة",
                
            }
            });
        }
    });
    
    

    function displaySuggestedFlows(flows) {
        const recommendedFlowsContainer = document.getElementById('recommended-flows-container');
        recommendedFlowsContainer.innerHTML = '';

        if (flows && flows.length > 0) {
            flows.forEach(flow => {
                const flowCard = document.createElement('div');
                flowCard.className = 'flow-card';
                flowCard.innerHTML = `
                     <div class="flow-card-img">
                        <img src="/static/svgs/${flow.img}" alt="${flow.name}">
                    </div>
                    <div class="flow-card-body">
                        <div class="title-description">
                            <h3>${flow.name}</h3>
                            <p>${flow.description}</p>
                        </div>
                        <div class="flow-card-button">
                            <button class="activate-button" onclick="activateSuggestedFlow('${flow.id}')">تفعيل</button>
                        </div>
                    </div>
                `;
                recommendedFlowsContainer.appendChild(flowCard);
            });
        } else {
            // No recommended flows found
            recommendedFlowsContainer.innerHTML = '<p>لا توجد رسائل تلقائية موصى بها.</p>';
        }
    }


    function deleteFlow(flowId) {
        fetch('/delete-flow/' + flowId + '/', {
            method: 'POST',
            headers: {
                'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,
                'Content-Type': 'application/json'
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                showMessage(data.message, data.type);
                refreshTable();
            } else {
                showMessage(data.message, data.type);
            }
        })
        .catch(error => {
            showMessage('حدث خطأ ما. يرجى المحاولة مره اخرى.', 'error');
        });
    }

    function activateSuggestedFlow(flowId) {
        const activateSuggestedFlowUrl = document.getElementById('activate-suggested-flow-url').dataset.activateSuggestedFlowUrl;
        fetch(activateSuggestedFlowUrl.replace('0', flowId), {
            method: 'POST',
            headers: { 'Content-Type': 'application/json',
            'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,
        }
        })
        
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                refreshTable();
                window.location.href = data.redirect_url;
            } else {
                showMessage(data.message, data.type);
            }
        })
        .catch(error => {
            showMessage(error, 'error');
        });
    }

    function refreshTable() {
        const myTable = $('#myTable').DataTable();
        myTable.ajax.reload();  // Reload the table data
    }

    
    </script>

{% endblock %}
