{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>RisalaBot | رسالة بوت</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" >
        <link rel="stylesheet" href="{% static 'styles/main.css' %}" />
        <link rel="stylesheet" href="{% static 'styles/sidemenu.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    </head>
    <body>
        <div class="container-nav">
        <header class="header">
            <div class="logo-container">
                <a href="{% url 'home' %}">
                    <img src="{% static 'svgs/Risalabot.svg' %}" alt="RisalaBot Logo" class="logo-image">
                </a>
            </div>
            
        
              
              <div class= "login-register-container">
                <a href="{% url 'login' %}" class="login-btn">
                    تسجيل الدخول
                </a>
                <a href="{% url 'register' %}" class="register-btn">
                    حساب جديد
                </a>
              </div>
        </header>
        </div>
        <main class="main-container">
            <section class="main-content">
                
            </section>

        </main>





</body>
</html>
