{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>RisalaBot | رسالة بوت</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" >
        <link rel="stylesheet" href="{% static 'styles/style.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <link href="https://cdn.datatables.net/v/dt/jq-3.7.0/dt-2.1.8/datatables.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

        

    </head>
    <body>
        <div class='message-display' id='message-display'>
            <div id="message-display-content">
                <div class="message-icon" id="message-icon"></div>
                <p id="message-content"></p>
            </div>
        </div>
        <div class="trcontainer">


    {% if page == 'login'%}
    <div class="login-container">
        <div class="titles">
            <div class="logo-container"><img src="{% static 'svgs/RisalabotBlack.svg' %}" alt="RisalaBot Logo" class="logo-image"></div>
            <div class="login-text-small">سجل دخولك للتمكن من الوصول الى خدماتنا</div>
        </div>
        <form id="login-form" class="login-form" method="post" action="">
            {% csrf_token %}
            <label for="email">البريد الإلكتروني</label>
            <input class="input-field" id="username" name="email" type="email">
            <div id="email-error" class="error-message"></div>
        
            <label for="password">كلمة المرور</label>
            <input class="input-field" type="password" name="password" id="password">
            <div id="password-error" class="error-message"></div>
        
            <button type="submit" class="submit-button">تسجيل الدخول</button>
            <div class="titles">
                <div class="forgot-password">
                    <a href="{% url 'reset_password' %}" class="forgot-password-link">هل نسيت كلمة المرور؟</a>
                </div>
                <div class="login-text-small">ليس لديك حساب؟ <a href="{% url 'register' %}" class="register-link">إنشاء حساب جديد</a></div>
              </div>
        </form>
    </div>
    {% else %}
    <div class="login-container">
        <div class="titles">
            <div class="logo-container"><img src="{% static 'svgs/RisalabotBlack.svg' %}" alt="RisalaBot Logo" class="logo-image"></div>
          <div class="login-text-small">انشئ حساب جديد للتمكن من الوصول الى خدماتنا</div>
        </div>
        <form class="login-form" method="post" id="register-form">
          {% csrf_token %}
          {% for field in form %}
          <div class="input-field-wrapper">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
          </div>
          {% endfor %}
          <button type="submit" class="submit-button">إنشاء حساب جديد</button>
          <div class="titles">
            <div class="login-text-small">لديك حساب؟ <a href="{% url 'login' %}" class="register-link">تسجيل الدخول</a></div>
          </div>
        </form>

      </div>
    {% endif %}

        </div>
    </body>
    <script src="{% static 'js/main.js' %}"></script>
    <script>
        // if login form is there
        if (document.getElementById("login-form")) {
            document.addEventListener("DOMContentLoaded", function () {
                const form = document.getElementById("login-form");
            
                form.addEventListener("submit", function (e) {
                    e.preventDefault(); // Prevent default form submission
            
                    const formData = new FormData(form); // Gather form data
        
                fetch("", {
                    method: "POST",
                    headers: {
                        "X-CSRFToken": document.querySelector("[name=csrfmiddlewaretoken]").value,
                    },
                    body: formData,
                })
                    .then((response) => response.json())
                    .then((data) => {
    
                        if (data.success) {
                            window.location.href = data.redirect_url; // Redirect on success
                        } else {
                            // Show errors in real-time
                            showMessage(data.message, data.type);
                        }
                    })
                    .catch((error) => console.error("Error:", error));
            });
        });

        }
        if (document.getElementById("register-form")) {
        document.addEventListener("DOMContentLoaded", function () {
            const form = document.getElementById("register-form");
        
            form.addEventListener("submit", function (e) {
                e.preventDefault(); // Prevent default form submission
        
                const formData = new FormData(form); // Gather form data
        
                fetch("", {
                    method: "POST",
                    headers: {
                        "X-CSRFToken": document.querySelector("[name=csrfmiddlewaretoken]").value,
                    },
                    body: formData,
                })
                    .then((response) => response.json())
                    .then((data) => {
    
                        if (data.success) {
                            window.location.href = data.redirect_url; // Redirect on success
                        } else {
                            // Show errors in real-time
                            showMessage(data.message, data.type);
                        }
                    })
                    .catch((error) => console.error("Error:", error));
            });
        });
        }
    </script>        
</html>
