{% extends 'main_nonav.html' %}

{% block content %}

    {% if page == 'login'%}
    <div class="login-container">
        <div class="titles">
            <div class="login-text">تسجيل الدخول</div>
            <div class="login-text-small">سجل دخولك للتمكن من الوصول الى خدماتنا</div>
        </div>
        <form class="login-form" method="post" action="">
            {% csrf_token %}
            <label for="email">البريد الإلكتروني</label>
            <input class="input-field" id="username" name="email" type="email">
            <label for="password">كلمة المرور </label>
            <input class="input-field" type="password" name="password" id="password">
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <button type="submit" class="submit-button">تسجيل الدخول</button>
            <div class="titles">
                <div class="forgot-password">
                    <a href="{% url 'reset_password' %}" class="forgot-password-link">هل نسيت كلمة المرور؟</a>
                </div>
                <div class="login-text-small">ليس لديك حساب؟ <a href="{% url 'register' %}" class="register-link">إنشاء حساب جديد</a></div>
              </div>
        </form>
    </div>
    {% else %}
    <div class="login-container">
        <div class="titles">
          <div class="login-text">إنشاء حساب جديد</div>
          <div class="login-text-small">انشئ حساب جديد للتمكن من الوصول الى خدماتنا</div>
        </div>
        <form class="login-form" method="post" action="">
          {% csrf_token %}
          {% for field in form %}
          <div class="input-field-wrapper">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
          </div>
          {% endfor %}
          {% if messages %}
          <ul>
              {% for message in messages %}
                  <li>{{ message }}</li>
              {% endfor %}
              </ul>
          {% endif %}
          <button type="submit" class="submit-button">إنشاء حساب جديد</button>
          <div class="titles">
            <div class="login-text-small">لديك حساب؟ <a href="{% url 'login' %}" class="register-link">تسجيل الدخول</a></div>
          </div>
        </form>

      </div>
    {% endif %}

{% endblock content %}
