{% extends 'main_nonav.html' %}

{% block content %}
{% if validlink %}
<div class="login-container">
    <div class="titles">
        <h1 class="login-text">إعادة تعيين كلمة المرور</h1>
        <p class="login-text-small">الرجاء إدخال كلمة المرور الجديدة</p>
    </div>

    <form method="POST" class="reset-password-container">
        {% csrf_token %}
        {% for field in form %}
            {% if field.name == 'new_password1' %}
                <label for="{{ field.id_for_label }}" style="font-weight: 700;">كلمة المرور الجديدة</label>
                {{ field }}
            {% endif %}
            {% if field.name == 'new_password2' %}
                <label for="{{ field.id_for_label }}" style="font-weight: 700;">تأكيد كلمة المرور</label>
                {{ field }}
            {% endif %}
        {% endfor %}
        <input type="submit" value="تأكيد" class="submit-button">
    </form>
</div>
{% else %}
<p>رابط إعادة التعيين غير موجود أو منتهي الصلاحية</p>
{% endif %}
{% endblock %}
