{% extends 'main_nonav.html' %}

{% block content %}

<div class="login-container">
    <div class="titles">
        <div class="login-text">إعادة تعيين كلمة المرور</div>
        <div class="login-text-small">أدخل بريدك الإلكتروني لإعادة تعيين كلمة المرور</div>
    </div>

    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
            {% if field.name == 'email' %}
                <label for="{{ field.id_for_label }}">البريد الإلكتروني</label>
                {{ field }}
            {% endif %}
        {% endfor %}
        <button type="submit" class="submit-button">إرسال رابط إعادة التعيين</button>
    </form>
</div>

{% endblock %}
