{% extends "main.html" %}
{% load static %}

{% block content %}


{%if not botenabled%}
<div class="feature-alert">
    <p>هذه الميزه فقط لمشتركين باقة البرو والبرميم</p>
</div>
{% endif %}

<form id="startbotform" novalidate method="post">
    {% csrf_token %}
    {% for field in form %}
    {{field}}
    {% endfor %}
    <div class="button-row">
        <button class="save-button" type="submit" id="saveButton">حفظ</button>
    </div>
</form>



<meta name="csrfmiddlewaretoken" content="{{ csrf_token }}">


<script>
    // on page load show message


    document.addEventListener("DOMContentLoaded", function() {
        const startBotForm = document.getElementById('startbotform');
        if (startBotForm) {
            startBotForm.addEventListener('submit', function(event) {
                event.preventDefault(); // Prevent the default form submission
        
                const formData = new FormData(startBotForm);
                fetch('/static-bot/', { // replace with the actual URL
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
                    },
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'success') {
                        showMessage(data.message, data.type);
                    } else {
                        if (typeof data.message === 'object') {
                            for (const [field, errors] of Object.entries(data.message)) {
                                errors.forEach(error => {
                                    showMessage(`${field}: ${error.message}`, 'error');
                                });
                            }
                        } else {
                            showMessage(data.message, data.type);
                        }
                    }
                })
                .catch(error => console.error('Error creating group:', error));
            });
        }
    });
    </script>

{% endblock %}
