{% extends 'main.html' %}
{% load static %}
{% block content %}
    <div id="content" class="content-container">
        <div class="session-container">
            {% if is_connected %}
                <div id="whatsapp-details-container" class="details-container">
                    <!-- WhatsApp details will be inserted here by AJAX -->
                </div>
            {% else %}
                <div id="qr-code-container" class="qr-code-container">
                    <!-- QR code will be inserted here by AJAX -->
                </div>
            {% endif %}
        </div>
    </div>
    <script>
        document.addEventListener('click', function (event) {
            if (event.target.id === 'logout-button') {
                fetch("{% url 'whatsapp_stop' %}", {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    }
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            window.location.reload();
                        } else {
                            alert('Failed to logout from WhatsApp.');
                        }
                    })
                    .catch(error => {
                        alert('An error occurred while logging out from WhatsApp.');
                    });
            }
        });
    </script>
    {% if is_connected %}
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                fetch("{% url 'whatsapp_details' %}")
                    .then(response => response.json())
                    .then(data => {
                        if (data.id && data.name && data.about && data.profile_picture) {
                            const detailsContainer = document.getElementById('whatsapp-details-container');
                            
                            const imgDiv = document.createElement('div');
                            imgDiv.classList.add('image-container');
                            const profileImage = document.createElement('img');
                            profileImage.src = data.profile_picture;
                            profileImage.alt = "Profile Picture";
                            imgDiv.appendChild(profileImage);
                            detailsContainer.appendChild(imgDiv);

                            const nameElement = document.createElement('p');
                            nameElement.innerText = `الاسم: ${data.name}`;
                            detailsContainer.appendChild(nameElement);

                            const aboutElement = document.createElement('p');
                            aboutElement.innerText = `الحالة: ${data.about}`;
                            detailsContainer.appendChild(aboutElement);

                            const logoutButton = document.createElement('button');
                            logoutButton.classList.add('logout-button');
                            logoutButton.id = 'logout-button';
                            logoutButton.innerText = 'تسجيل الخروج';
                            detailsContainer.appendChild(logoutButton);
                        } else {
                            document.getElementById('whatsapp-details-container').innerText = 'Failed to retrieve WhatsApp details.';
                        }
                    })
                    .catch(error => {
                        document.getElementById('whatsapp-details-container').innerText = 'An error occurred while fetching the WhatsApp details.';
                    });
            });
        </script>
    {% else %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            fetch("{% url 'get_whatsapp_qr_code' %}")
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        if (data.qr) {
                            const imgDiv = document.createElement('div');
                            imgDiv.classList.add('image-container');
                            const qrImage = document.createElement('img');
                            qrImage.src = `data:image/png;base64,${data.qr}`;
                            qrImage.alt = "QR Code";
                            imgDiv.appendChild(qrImage);
    
                            document.getElementById('qr-code-container').appendChild(imgDiv);
    
                            // Add logout button
                            const logoutButton = document.createElement('button');
                            logoutButton.classList.add('logout-button');
                            logoutButton.id = 'logout-button';
                            logoutButton.innerText = 'reload';
                            document.getElementById('qr-code-container').appendChild(logoutButton);
                        } else {
                            document.getElementById('qr-code-container').innerText = data.message;
                        }
                    } else {
                        document.getElementById('qr-code-container').innerText = data.message;
                    }
                })
                .catch(error => {
                    document.getElementById('qr-code-container').innerText = 'An error occurred while fetching the QR code.';
                });
        });
    </script>
    {% endif %}
{% endblock %}
